body, html {
  height: 100%
}

.background {
  background-image: url("https://i.ytimg.com/vi/d1FZGpv2-Q4/maxresdefault.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  color: yellow;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  color: yellow;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}