body {
  background-color: #292929;
  color: #b98af6;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Apple Chancery, cursive;
}

.header {
  width: 100%;
  height: 10%;
  padding-top: 4px;
}

.headerContent {
  width: 100%;
  height: auto;
  margin: auto;
}

.headerName {
  text-align: center;
  width: 80%;
  margin: auto;
}

#name {
  font-size: 3vw;
}

#name:hover {
  cursor: pointer;
}

.headerBreak {
  width: 80%;
  margin: auto;
  border-bottom: 5px solid #b98af6;
  margin-bottom: 2rem;
}

.sideBar {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: -10%;
  width: 10%;
  height: 300%;
  background: #151719;
  transition: all 300ms linear;
}

#sidebar.active {
  left: 0%;
}

#sidebar .toggle-btn {
  position: absolute;
  cursor: pointer;
  left: 115%;
  top: 2vw;
}

#sidebar .toggle-btn span {
  display: block;
  width: 2.5vw;
  height: .5vw;
  background: #151719;
  margin: 5px 0px; 
}

#sidebar div.list div.item {
  padding: 0.8vw 0.5vw;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-size: 1vw;
}

.link:hover {
  cursor: pointer;
  background: #5326e1;
}

.head {
  color: #5326e1;
}

.topRight {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 1vw;
}

.row {
  width: 80%;
  margin: auto;
  padding: 2px;
}

.column {
  padding: 0px;
  text-align: center;
  float: left;
  width: 100%;
}

.row:after {
  display: table;
  clear: both;
}

h2 {
  text-align: center;
  font-size: 3vw;
  color: #5326e1;
}

h3 {
  font-size: 2vw;
  color: #7d46f4;
}

p {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
}

p.classLink:hover {
  color: white;
  cursor: pointer;
}

.flip-panel {
  display: block;
  position: relative;
  width: 20vw;
  height: 20vw;
  margin: 20px auto;
  perspective: 1200px;
  border: 5px solid #312113;
  background: #49311d;
}

.panel {
  transition: z-index 1s ease-in-out 1s;
}

.panel,
.panel .front,
.panel .back {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
  transform-style: preserve-3d;
  transition: transform 1s, box-shadow 1s;
}

.panel .front {
  background: #5c5c5c;
  border-left: 1px solid #444444;
  z-index: 2;

  -moz-transform: rotateY(0deg);
  -moz-transform-origin: left;
  transform: rotateY(0deg);
  transform-origin: left;
  backface-visibility: hidden;
}

.panel .back {
  background: #5c5c5c;
  border-right: 1px solid #444444;
  left: -100%;
  z-index: 1;
  
  -moz-transform: rotateY(180deg);
  -moz-transform-origin: right;
  transform: rotateY(180deg);
  transform-origin: right;
  
  backface-visibility: hidden;
}

.panel .cover {
  border: none;
  background: #49311d;
}

.panel .front:hover {
  -moz-transform: rotateY(-25deg);
  -moz-transform-origin: left;
  transform: rotateY(-25deg);
  transform-origin: left;
  box-shadow: 4px 4px 12px rgb(100,100,100);
  cursor: pointer;
}

.panel:hover {
  cursor: pointer;
}

.panel.open {
  z-index: 1;
}

.panel.open .front {
  z-index: 1;
  -moz-transform: rotateY(-180deg);
  -moz-transform-origin: left;
  transform: rotateY(-180deg);
  transform-origin: left;
}

.panel.open .back {
  z-index: 2;
  -moz-transform: rotateY(0deg);
  -moz-transform-origin: right;
  transform: rotateY(0deg);
  transform-origin: right;  
}

.content {
  text-align: center;
  margin-top: 30%;
  font-family: Apple Chancery, cursive;
  font-size: 1vw;
}

#titlePage {
  margin-top: 35%;
  font-size: 1.7vw;
}

.statement {
  width: 80%;
  margin: auto;
}

.welcomeStatement {
  color: #b98af6;
  font-size: 1.5vw;
}

/*  Mobile */
@media only screen and (max-width: 600px) {
  #name {
    font-size: 7vw;
  }
  
  .welcomeStatement {
    font-size: 4vw;
  }
  
  .flip-panel {
    width: 50vw;
    height: 50vw;
    margin: 20px auto;
  }
  
  #titlePage {
    font-size: 4vw;
  }
  
  #sidebar .toggle-btn span {
    width: 7vw;
    height: 1.5vw;
  }
  
  .topRight {
    font-size: 2vw;
  }
  
  #sidebar div.list div.item {
    font-size: 7vw;
    height: 7vw;
  }

  #sidebar {
    left: -40%;
  }
  
  .content {
    font-size: 4vw;
  }
}

/* Tablets */
@media only screen and (max-width: 1000px) {
  #name {
    font-size: 7vw;
  }
  
  .welcomeStatement {
    font-size: 3vw;
  }
  
  .flip-panel {
    width: 40vw;
    height: 40vw;
  }
  
  #titlePage {
    font-size: 3.5vw;
  }
  
  #sidebar .toggle-btn span {
    width: 6vw;
    height: 1.25vw;
  }
  
  .topRight {
    font-size: 2vw;
  }
  
  #sidebar div.list div.item {
    font-size: 4.5vw;
    height: 6vw;
  }
  
  #sidebar {
    left: -40%;
    width: 40%;
    z-index: 1;
  }
  
  #sidebar.active {
    left: 0%;
  }
  
  .content {
    font-size: 3vw;
  } 
}

/* Smaller than desktop */
@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  #name {
    font-size: 5vw;
  }
  
  .welcomeStatement {
    font-size: 2.5vw;
  }
  
  .flip-panel {
    width: 35vw;
    height: 35vw;
  }
  
  #titlePage {
    font-size: 3.5vw;
  }
  
  #sidebar .toggle-btn span {
    width: 5vw;
    height: 1vw;
  }
  
  .topRight {
    font-size: 1.5vw;
  }
  
  #sidebar div.list div.item {
    font-size: 2.5vw;
    height: 3vw;
  }
  
  #sidebar {
    left: -20%;
    width: 20%;
    z-index: 1;
  }
  
  .content {
    font-size: 2.5vw;
  } 
}