body {
  background: #292929;
  color: #b98af6;
  font-family: Apple Chancery, cursive;
}

::placeholder {
  color: #dcdcdc;
}

.header {
  width: 100%;
  height: 10%;
  padding-top: 4px;
}

.headerContent {
  width: 100%;
  height: auto;
  margin: auto;
}

.headerName {
  text-align: center;
  width: 20%;
  margin: auto;
}

#name {
  font-size: 3vw;
}

#name:hover {
  cursor: pointer;
}

.headerBreak {
  width: 80%;
  margin: auto;
  border-bottom: 5px solid #b98af6;
  margin-bottom: 2rem;
}

.guestInfo {
  display: flex;
  justify-content: center;
}

.guestBook {
  margin-left: 30%;
}

.guestInfo input {
  display: block;
  padding: 5px;
  margin: 5px;
  background: #8c8c8c;
}

.guestInfo #submit {
  background: #8c8c8c;
}

.guestBook label {
  font-weight:bold;
  font-size: 3vw;
}

.guestBook #guests {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 2vw;
}

th {
  border: 2px solid black;
  padding: 5px;
}

td {
  border: 2px solid black;
  font-size: 2vw;
  padding: 2px;
}

.sideBar {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: -10%;
  width: 10%;
  height: 100%;
  background: #151719;
  transition: all 300ms linear;
}

#sidebar.active {
  left: 0%;
}

#sidebar .toggle-btn {
  position: absolute;
  cursor: pointer;
  left: 115%;
  top: 2vw;
}

#sidebar .toggle-btn span {
  display: block;
  width: 2.5vw;
  height: .5vw;
  background: #151719;
  margin: 5px 0px; 
}

#sidebar div.list div.item {
  padding: 0.8vw 0.5vw;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-size: 1vw;
}

.link:hover {
  cursor: pointer;
  background: #5326e1;
}

.head {
  color: #5326e1;
}

/* .guestBook #guests th {
  border: 2px solid black;
  margin-right: 0px;
  margin-left: 0px;
}

.guestBook #guests tr {
  border: 2px solid black;
} */

/*  Mobile */
@media only screen and (max-width: 800px) {
  #name {
    font-size: 7vw;
  }
  
  #sidebar .toggle-btn span {
    width: 7vw;
    height: 1.5vw;
  }
  
  #sidebar div.list div.item {
    font-size: 7vw;
    height: 7vw;
  }

  #sidebar {
    left: -40%;
  }
  
  .content {
    font-size: 4vw;
  }

  .guestBook {
    margin-left: 10%;
  }

  .guestInfo input {
    height: 6vw;
  }

  .guestInfo #submit {
    height: 10vw;
    width: 100%;
  }

  .guestBook label {
    font-size: 8vw;
  }

  .guestBook #guests {
    font-size: 4vw;
  }
}

/* Tablets */
@media only screen and (max-width: 1000px) {
  #name {
    font-size: 7vw;
  }
  
  #sidebar .toggle-btn span {
    width: 6vw;
    height: 1.25vw;
  }
  
  #sidebar div.list div.item {
    font-size: 4.5vw;
    height: 6vw;
    padding: 2vw;
  }
  
  #sidebar {
    left: -40%;
    width: 40%;
    z-index: 1;
  }
  
  #sidebar.active {
    left: 0%;
  }
  
  .content {
    font-size: 3vw;
  } 

  .guestBook {
    margin-left: 10%;
  }

  .guestInfo input {
    height: 4vw;
  }

  .guestInfo #submit {
    height: 6vw;
    width: 100%;
  }

  .guestBook label {
    font-size: 6vw;
  }

  .guestBook #guests {
    font-size: 3vw;
  }
}

/* Smaller than desktop */
@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  #name {
    font-size: 5vw;
  }
  
  #sidebar .toggle-btn span {
    width: 5vw;
    height: 1vw;
  }
  
  #sidebar div.list div.item {
    font-size: 2.5vw;
    height: 3vw;
  }
  
  #sidebar {
    left: -20%;
    width: 20%;
    z-index: 1;
  }
  
  .content {
    font-size: 2.5vw;
  } 

  .guestInfo input {
    height: 2vw;
  }

  .guestInfo #submit {
    height: 3vw;
  }
}