body {
  background: #292929;
  color: #b98af6;
}

::placeholder {
  color: #dcdcdc;
}

.guestInfo {
  display: flex;
  justify-content: center;
}

.guestBook {
  margin-left: 30%;
}

.guestInfo input {
  display: block;
  padding: 5px;
  margin: 5px;
  background: #8c8c8c;
}

.guestInfo #submit {
  background: #8c8c8c;
}

.guestBook label {
  font-weight:bold;
  font-size: 3rem;
}

.guestBook #guests {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 2rem;
}

th {
  border: 2px solid black;
  padding: 5px;
}

td {
  border: 2px solid black;
  font-size: 2rem;
  padding: 2px;
}

.sideBar {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: -10%;
  width: 10%;
  height: 100%;
  background: #151719;
  transition: all 300ms linear;
}

#sidebar.active {
  left: 0%;
}

#sidebar .toggle-btn {
  position: absolute;
  cursor: pointer;
  left: 115%;
  top: 2vw;
}

#sidebar .toggle-btn span {
  display: block;
  width: 2.5vw;
  height: .5vw;
  background: #151719;
  margin: 5px 0px; 
}

#sidebar div.list div.item {
  padding: 0.8vw 0.5vw;
  border-bottom: 1px solid #444;
  text-transform: uppercase;
  font-size: 1vw;
}

.link:hover {
  cursor: pointer;
  background: #5326e1;
}

.head {
  color: #5326e1;
}

/* .guestBook #guests th {
  border: 2px solid black;
  margin-right: 0px;
  margin-left: 0px;
}

.guestBook #guests tr {
  border: 2px solid black;
} */