<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>About</title>

        <meta name="author" content="Stephen Kim">
        <meta name="description" content="ECE140B">

        <link rel="stylesheet" type="text/css" href="css/about.css">
    </head>
    <body>
      <div class="header">
        <div class="headerContent">
          <div class="headerName">
            <h1 id="about">About</h1>
          </div>
        </div>
        <div class="headerBreak"></div>
      </div>
      <div id="sidebar" class="sideBar">
        <div id="toggleButton" class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>  
        <div class="list">
          <div class="item head">Pages</div>
          <div id="home" class="item link">Home</div>
          <div id="welcome" class="item link">Welcome</div>
          <div id="about" class="item link">About</div>
          <div id="cv" class="item link">CV</div>
          <div class="item head">Data Routes</div>
          <div id="avatar" class="item link">Avatar</div>
          <div id="personal" class="item link">personal</div>
          <div id="education" class="item link">education</div>
          <div id="project" class="item link">project</div>
        </div>
      </div>
      <div class="content">
        <h2>Summary</h2>
        <div class="headerBreak"></div>
        <p> My name is Stephen Kim and this is my ECE 140B website. I am currently a third-year Electrical Engineering student specializing in Machine Learning & Control. I recently got admitted into graduate school for Machine Learning & Data Science.</p>
        <p> In this page, I will be discussing the features of this website as well as the accessibility features this website provides. </p>
      </div>
      <div class="content">
        <div class="row">
          <h2>UI Principles</h2>
          <div class="headerBreak"></div>
          <div class="column">
            <p> This website has the goal to be as minimalistic as possible and to display mainly content in an easy to read way. <p>
          </div>
          <div class="column">
            <p> Each aspect of this website is meant to be as consistent as possible upon every page. The sidebar exists on each page and is always in the same spot. <p>
          </div>
          <div class="column">
            <p> Each part of this website is consistent. The sidebar remains in the same spot and the routes are all in the same order. <p>
          </div>
          <div class="column">
            <p> The buttons within the sidebar all highlight when they are buttons and those that are not buttons will not highlight. <p>
          </div>
          <div class="column">
            <p> Since the goal of this website was to be very minimalistic and straight to the point, the primary goal highlights the clarity in what is presented on the webpages. <p>
          </div>
          <div class="column">
            <p> This website shows off a dark theme that is easy on the eyes while maintaining enough contrast to be distinguishable in greyscale. <p>
          </div>
          <div class="column">
            <p> This website is designed to perform at least decently on mobile, desktop, and tablet. <p>
          </div>
          <div class="column">
          </div>
          <h2>IA Principles</h2>
          <div class="headerBreak"></div>
          <div class="column">
            <p> This website keeps the number of choices to a minimum especially when it comes to form submission that can change the database. <p>
          </div>
          <div class="column">
            <p> For objects on each webpage, similar groupings of objects are all consistent in styling, structure, and behavior. <p>
          </div>
          <div class="column">
            <p> There are a number of recurring objects on each webpage and each recurring object remains constient throughout the entire website. The state of the objects will always be predictable. <p>
          </div>
          <div class="column">
            <p> Each webpage has an IA element that will allow users to navigate everywhere on the website. No matter their starting point. <p>
          </div>
          <div class="column">
            <p> The single IA method to navigate the many webpages is through the sidebar.  <p>
          </div>
          <div class="column">
          </div>
          <div class="column">
          </div>
          <div class="column">
          </div>
          <h2>Wireframe Design</h2>
          <img src="./images/WireframeDesign.png" alt="Wireframe Design" />
        </div>
      </div>

      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script defer src="js/about.js"></script>
    </body>
</html>