<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Coming Soon</title>

        <meta name="author" content="Stephen Kim">
        <meta name="description" content="ECE140B">

        <link rel="stylesheet" type="text/css" href="css/coming_soon.css">
    </head>
    <body>
        <div class="background">
          <div class="topleft">
            <p>Stephen Kim</p>
          </div>
          <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
            <p id="countdown">7 Days</p>
          </div>
          <div class="bottomleft">
            <p>Week 9 Assignment</p>
          </div>
        </div>

        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script defer src="js/coming_soon.js"></script>
    </body>
</html>