<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Kimsternator</title>

        <meta name="author" content="Stephen Kim">
        <meta name="description" content="ECE140B">

        <link rel="stylesheet" type="text/css" href="css/landing.css">
    </head>
    <body>
        <div class="header">
          <div class="headerContent">
            <div class="headerName">
              <h1 id="name">Stephen Kim</h1>
            </div>
          </div>
          <div class="headerBreak"></div>
        </div>
        <div id="sidebar" class="sideBar">
          <div id="toggleButton" class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
          </div>  
          <div class="list">
            <div class="item head">Pages</div>
            <div id="home" class="item link">Home</div>
            <div id="welcome" class="item link">Welcome</div>
            <div id="about" class="item link">About</div>
            <div id="cv" class="item link">CV</div>
            <div class="item head">Data Routes</div>
            <div id="avatar" class="item link">Avatar</div>
            <div id="personal" class="item link">personal</div>
            <div id="education" class="item link">education</div>
            <div id="project" class="item link">project</div>
          </div>
        </div>
        <div class="topRight">
          <h1>ECE 140B</h1>
        </div>
        <div class="flip-panel">
          <div class="panel">
            <div class="front cover">
              <div id="titlePage" class="content">
                ECE 140B<br>Classmates
              </div>
            </div>
            <div class="back">
              <div class="content">
                <p id="link3">http://kimsternator.games/</p>
                <div class="box">
                  <iframe src="http://kimsternator.games/" class="display"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="front">
              <div class="content">
                <p id="link3">http://kimsternator.games/</p>
                <div class="box">
                  <iframe src="http://kimsternator.games/" class="display"></iframe>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="content">
                <p id="link3">http://kimsternator.games/</p>
                <div class="box">
                  <iframe src="http://kimsternator.games/" class="display"></iframe>
                </div>
              </div>
            </div>
          </div>  
          <div class="panel">
            <div class="front">
              <div class="content">
                <p id="link3">http://kimsternator.games/</p>
                <div class="box">
                  <iframe src="http://kimsternator.games/" class="display"></iframe>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="content">
                <p id="link3">http://kimsternator.games/</p>
                <div class="box">
                  <iframe src="http://kimsternator.games/" class="display"></iframe>
                </div>
              </div>
            </div>
          </div>  
        </div>

        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script defer src="js/landing.js"></script>
    </body>
</html>